<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Lista Impacto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="/static/shoppy/css/bootstrap.css" rel="stylesheet"
	type="text/css" media="all">
<!-- Custom Theme files -->
<link href="/static/shoppy/css/style.css" rel="stylesheet"
	type="text/css" media="all" />
<!--js-->
<script src="/static/shoppy/js/jquery-2.1.1.min.js"></script>
<!--icons-css-->
<link href="/static/shoppy/css/font-awesome.css" rel="stylesheet">
<!--Google Fonts-->
<link href="//fonts.googleapis.com/css?family=Carrois+Gothic"
	rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Work+Sans:400,500,600"
	rel="stylesheet" type="text/css">
<!--//skycons-icons-->
</head>

<body>
	<div class="page-container">
		<div class="left-content">
			<div class="mother-grid-inner">
				<!--header start here-->
				<div class="header-main">
					<div class="header-left">
						<div class="logo-name">
							<a th:href="@{/home}">
								<h1>UPC Factoring</h1>

							</a>
						</div>


						<div class="clearfix"></div>
					</div>
					<div class="header-right">
						<div class="profile_details_left">

							<ul class="nofitications-dropdown">



							</ul>
							<div class="clearfix"></div>
						</div>

						<div class="profile_details">
							<ul>
								<li class="dropdown profile_details_drop"><a href="#"
									class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false">
										<div class="profile_img">
											<span class="prfil-img"><img src="images/p1.png"
												alt=""> </span>
											<div class="user-name">
												<p>[[${#httpServletRequest.remoteUser}]]</p>
												<span>Administrator</span>
											</div>
											<i class="fa fa-angle-down lnr"></i> <i
												class="fa fa-angle-up lnr"></i>
											<div class="clearfix"></div>
										</div>
								</a>
									<ul class="dropdown-menu drp-mnu">
										<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
										<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
										<li><a><form th:action="@{/logout}" method="post">
													<input type="submit" value="Cerrar Sesión" /><i
														class="fa fa-sign-out"></i>
												</form></a></li>
									</ul></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<script>
				$(document).ready(function () {
					var navoffeset = $(".header-main").offset().top;
					$(window).scroll(function () {
						var scrollpos = $(window).scrollTop();
						if (scrollpos >= navoffeset) {
							$(".header-main").addClass("fixed");
						} else {
							$(".header-main").removeClass("fixed");
						}
					});

				});
			</script>

			<div class="inner-block">
				<div class="inbox">

					<br>
					<!-- Campos de la factura-->
					<h1 class="h3 mb-4 text-gray-800">Registro de Factura:</h1>
					<br>
					<form th:action="@{/facturas/guardar}" th:object="${factura}"
						method="post" enctype="multipart/form-data">

						<div class="form-group row" style="display: none !important;">
							<label for="idFactura" class="col-sm-2 col-form-label">Id:
							</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{idFactura}" class="form-control" />
							</div>
						</div>

						<div class="form-group row">
							<label for="bancoFactura" class="col-sm-2 col-form-label">Banco:</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{bancoFactura.idBanco}">
									<option th:each="b: ${banco}" th:value="${b.idBanco}"
										th:text="${b.nombreBanco}"
										th:selected="(${b.idBanco} == *{bancoFactura.idBanco})"></option>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label for="fechaiFactura" class="col-sm-2 col-form-label">Fecha
								de creacion de la factura:</label>
							<div class="col-sm-6">
								<input type="date" th:field="*{fechaiFactura}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('fechaiFactura')}"
									th:errors="*{fechaiFactura}"></small>
							</div>
						</div>

						<div class="form-group row">
							<label for="fechafFactura" class="col-sm-2 col-form-label">Fecha
								del cobro de la factura:</label>
							<div class="col-sm-6">
								<input type="date" th:field="*{fechafFactura}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('fechafFactura')}"
									th:errors="*{fechafFactura}"></small>
							</div>
						</div>

						<div class="form-group row">
							<label for="empresaFactura" class="col-sm-2 col-form-label">Empresa
								responsable:</label>
							<div class="col-sm-6">
								<select class="form-control"
									th:field="*{empresaFactura.idEmpresa}">
									<option th:each="l: ${listaEmpresas}" th:value="${l.idEmpresa}"
										th:text="${l.nombreEmpresa}"
										th:selected="(${l.idEmpresa} == *{empresaFactura.idEmpresa})"></option>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label for="totalFactura" class="col-sm-2 col-form-label">Monto
								de la factura:</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{totalFactura}"
									class="form-control" th:errorclass="'form-control alert-info'"
									maxlength="5" /> <small
									th:if="${#fields.hasErrors('totalFactura')}"
									th:errors="*{totalFactura}"></small>
							</div>
						</div>

						<div class="form-group row">
							<label for="userFactura" class="col-sm-2 col-form-label">Usuario
								de la factura:</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{userFactura.id}">
									<option th:each="l: ${listaUsuarios}" th:value="${l.id}"
										th:text="${l.username}"
										th:selected="(${l.id} == *{userFactura.id})"></option>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-6" align="center">
								<input type="submit" th:value="${valorBoton}"
									class="btn btn-primary" /> <a href="/bancos/listar"
									class="btn btn-danger">Regresar a la lista de Bancas</a>
							</div>
						</div>
					</form>
					<div th:if="${mensaje}" class="alert alert-info">
						<p th:text="${mensaje}"></p>
					</div>
					<br> <br> <br>


					<div style="width: 1000px; height: 1000px; padding: 3px;">

						<div style="width: 475px; float: left;">
							<!-- Campos del gasto inicial-->
							<h1 class="h3 mb-4 text-gray-800">Gastos Iniciales:</h1>
							<form th:action="@{/gastosiniciales/guardar}"
								th:object="${gastoinicial}" method="post">

								<div class="form-group row" style="display: none !important;">
									<label for="idGastosinicial" class="col-sm-2 col-form-label">Id</label>
									<div class="col-sm-6">
										<input type="text" th:field="*{idGastosinicial}"
											class="form-control" />
									</div>
								</div>

								<div class="form-group row">
									<label for="nombreGastosinicial"
										class="col-sm-2 col-form-label">Nombre del Gasto
										Inicial: </label>
									<div class="col-sm-6">
										<input type="text" th:field="*{nombreGastosinicial}"
											class="form-control"
											th:errorclass="'form-control alert-info'" maxlength="30" />
										<small th:if="${#fields.hasErrors('nombreGastosinicial')}"
											th:errors="*{nombreGastosinicial}"></small>
									</div>
								</div>

								<div class="form-group row">
									<label for="montoGastosinicial" class="col-sm-2 col-form-label">Monto
										del gasto: </label>
									<div class="col-sm-6">
										<input type="text" th:field="*{montoGastosinicial}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" maxlength="4" />
										<small th:if="${#fields.hasErrors('montoGastosinicial')}"
											th:errors="*{montoGastosinicial}"></small>
									</div>
								</div>

								<div class="form-group row">
									<label for="bancoGastosinicial" class="col-sm-2 col-form-label">Banco:</label>
									<div class="col-sm-6">
										<select class="form-control"
											th:field="*{bancoGastosinicial.idBanco}">
											<option th:each="b: ${banco}" th:value="${b.idBanco}"
												th:text="${b.nombreBanco}"
												th:selected="(${b.idBanco} == *{bancoGastosinicial.idBanco})"></option>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-6" align="center">
										<input type="submit" th:value="${valorBoton}"
											class="btn btn-primary" />
									</div>
								</div>
							</form>


							<!-- Lista de Gastos iniciales-->
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-white">
										<thead class="bg-dark mb-3 text-white">
											<tr>
												<th>Id</th>
												<th>Nombres</th>
												<th>Costos</th>
											</tr>
										</thead>
										<tbody id="proyecto-list">
											<tr th:each="gastoi:${listaGastoiniciales}">
												<td th:text="${gastoi.idGastosinicial}"></td>
												<td th:text="${gastoi.nombreGastosinicial}"></td>
												<td th:text="${gastoi.montoGastosinicial}"></td>
											</tr>
										</tbody>
									</table>
									<div th:if="${mensaje}" class="alert alert-info">
										<p th:text="${mensaje}"></p>
									</div>
								</div>
							</div>

						</div>

						<div style="width: 475px; float: right;">
							<!-- Campos del gasto final-->
							<h1 class="h3 mb-4 text-gray-800">Gastos Finales:</h1>
							<form th:action="@{/gastosfinales/guardar}"
								th:object="${gastofinal}" method="post">

								<div class="form-group row" style="display: none !important;">
									<label for="idGastosfinal" class="col-sm-2 col-form-label">Id</label>
									<div class="col-sm-6">
										<input type="text" th:field="*{idGastosfinal}"
											class="form-control" />
									</div>
								</div>

								<div class="form-group row">
									<label for="nombreGastosfinal" class="col-sm-2 col-form-label">Nombre
										del Gasto Final: </label>
									<div class="col-sm-6">
										<input type="text" th:field="*{nombreGastosfinal}"
											class="form-control"
											th:errorclass="'form-control alert-info'" maxlength="30" />
										<small th:if="${#fields.hasErrors('nombreGastosfinal')}"
											th:errors="*{nombreGastosfinal}"></small>
									</div>
								</div>

								<div class="form-group row">
									<label for="montoGastosfinal" class="col-sm-2 col-form-label">Monto
										del gasto: </label>
									<div class="col-sm-6">
										<input type="text" th:field="*{montoGastosfinal}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" maxlength="4" />
										<small th:if="${#fields.hasErrors('montoGastosfinal')}"
											th:errors="*{montoGastosfinal}"></small>
									</div>
								</div>

								<div class="form-group row">
									<label for="bancoGastosfinal" class="col-sm-2 col-form-label">Banco:</label>
									<div class="col-sm-6">
										<select class="form-control"
											th:field="*{bancoGastosfinal.idBanco}">
											<option th:each="b: ${banco}" th:value="${b.idBanco}"
												th:text="${b.nombreBanco}"
												th:selected="(${b.idBanco} == *{bancoGastosfinal.idBanco})"></option>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-6" align="center">
										<input type="submit" value="Registrar" class="btn btn-primary" />
									</div>
								</div>
							</form>

							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-white">
										<thead class="bg-dark mb-3 text-white">
											<tr>
												<th>Id</th>
												<th>Nombres</th>
												<th>Costos</th>
											</tr>
										</thead>
										<tbody id="proyecto-list">
											<tr th:each="gastof:${listaGastofinales}">
												<td th:text="${gastof.idGastosfinal}"></td>
												<td th:text="${gastof.nombreGastosfinal}"></td>
												<td th:text="${gastof.montoGastosfinal}"></td>
											</tr>
										</tbody>
									</table>
									<div th:if="${mensaje}" class="alert alert-info">
										<p th:text="${mensaje}"></p>
									</div>
								</div>
							</div>
						</div>


					</div>

					<br> <br> <br> <br>

				</div>
			</div>

			<!--inner block end here-->
			<!--copy rights start here-->
			<div class="copyrights">
				<p>
					© 2019 Todos los derechos reservados | Tean dinamita by <a
						href="https://www.facebook.com/RaulBurga.Q/" target="_blank">Burga</a>
				</p>
			</div>
			<!--COPY rights end here-->
		</div>

		<!--slider menu-->
		<div class="sidebar-menu">
			<div class="logo">
				<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span>
				</a> <a href="#"> <span id="logo"></span> <!--<img id="logo" src="" alt="Logo"/>-->
				</a>
			</div>
			<div class="menu">
				<ul id="menu">
					<li id="menu-home"><a th:href="@{/movie/listar}"><i
							class="fa fa-tachometer"></i><span>Bancos</span><span
							class="fa fa-angle-right" style="float: right"></span></a>
						<ul>
							<li><a th:href="@{/bancos/listar}">Lista</a></li>
							<li><a th:href="@{/bancos/nuevo}">Nuevo</a></li>
						</ul></li>
					<li id="menu-home"><a th:href="@{/location/list}"><i
							class="fa fa-map-marker"></i><span>Empresas</span><span
							class="fa fa-angle-right" style="float: right"></span></a>
						<ul>
							<li><a th:href="@{/empresas/listar}">Lista</a></li>
							<li><a th:href="@{/empresas/nuevo}">Nuevo</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
		<!--slide bar menu end here-->
		<script>
		var toggle = true;

		$(".sidebar-icon").click(function () {
			if (toggle) {
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#menu span").css({ "position": "absolute" });
			}
			else {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				setTimeout(function () {
					$("#menu span").css({ "position": "relative" });
				}, 400);
			}
			toggle = !toggle;
		});
	</script>
		<!--scrolling js-->
		<script src="/static/shoppy/js/jquery.nicescroll.js"></script>
		<script src="/static/shoppy/js/scripts.js"></script>
		<!--//scrolling js-->
		<script src="/static/shoppy/js/bootstrap.js"> </script>
		<!-- mother grid end here-->
	</div>
</body>

</html>