<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Lista Impacto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="/static/shoppy/css/bootstrap.css" rel="stylesheet"
	type="text/css" media="all">
<!-- Custom Theme files -->
<link href="/static/shoppy/css/style.css" rel="stylesheet"
	type="text/css" media="all" />
<!--js-->
<script src="/static/shoppy/js/jquery-2.1.1.min.js"></script>
<!--icons-css-->
<link href="/static/shoppy/css/font-awesome.css" rel="stylesheet">
<!--Google Fonts-->
<link href="//fonts.googleapis.com/css?family=Carrois+Gothic"
	rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Work+Sans:400,500,600"
	rel="stylesheet" type="text/css">
<!--//skycons-icons-->
</head>

<body>
	<div class="page-container">
		<div class="left-content">
			<div class="mother-grid-inner">
				<!--header start here-->
				<div class="header-main">
					<div class="header-left">
						<div class="logo-name">
							<a th:href="@{/home}">
								<h1>UPC Factoring</h1>

							</a>
						</div>


						<div class="clearfix"></div>
					</div>
					<div class="header-right">
						<div class="profile_details_left">

							<ul class="nofitications-dropdown">



							</ul>
							<div class="clearfix"></div>
						</div>

						<div class="profile_details">
							<ul>
								<li class="dropdown profile_details_drop"><a href="#"
									class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false">
										<div class="profile_img">
											<span class="prfil-img"><img src="images/p1.png"
												alt=""> </span>
											<div class="user-name">
												<p>[[${#httpServletRequest.remoteUser}]]</p>
												<span>Administrator</span>
											</div>
											<i class="fa fa-angle-down lnr"></i> <i
												class="fa fa-angle-up lnr"></i>
											<div class="clearfix"></div>
										</div>
								</a>
									<ul class="dropdown-menu drp-mnu">
										<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
										<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
										<li><a><form th:action="@{/logout}" method="post">
													<input type="submit" value="Cerrar Sesión" /><i
														class="fa fa-sign-out"></i>
												</form></a></li>
									</ul></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<script>
				$(document).ready(function () {
					var navoffeset = $(".header-main").offset().top;
					$(window).scroll(function () {
						var scrollpos = $(window).scrollTop();
						if (scrollpos >= navoffeset) {
							$(".header-main").addClass("fixed");
						} else {
							$(".header-main").removeClass("fixed");
						}
					});

				});
			</script>

			<div class="inner-block">
				<div class="inbox">
					<br>

					<h1 class="h3 mb-4 text-gray-800">Listado de facturas:</h1>

					<br>



					<div class="card-body">

						<div class="table-responsive">
							<table class="table table-white">
								<thead class="bg-dark mb-3 text-white">
									<tr>
										<th>Id</th>
										<th>Usuario</th>
										<th>Empresa</th>
										<th>Banco</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="proyecto-list">
									<tr th:each="fac:${listaFacturas}">
						
										<td th:text="${fac.idFactura}"></td>
										<td th:text="${fac.userFactura}"></td>
										<td th:text="${fac.empresaFactura}"></td>
										<td th:text="${fac.bancoFactura}"></td>
										<td th:text="${fac.totalFactura}"></td>
									
									</tr>
								</tbody>
							</table>
							<div th:if="${mensaje}" class="alert alert-info">
								<p th:text="${mensaje}"></p>
							</div>
						</div>
						<a href="/bancos/bienvenido" class="btn btn-danger">Regresar al menú principal</a>
					</div>
					<br> <br> <br> <br> <br>
					<br> <br>
					<br> <br>
				</div>
			</div>

			<!--inner block end here-->
			<!--copy rights start here-->
			<div class="copyrights">
				<p>
					© 2019 Todos los derechos reservados | Tean dinamita by <a
						href="https://www.facebook.com/RaulBurga.Q/" target="_blank">Burga</a>
				</p>
			</div>
			<!--COPY rights end here-->
		</div>

		<!--slider menu-->
		<div class="sidebar-menu">
			<div class="logo">
				<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span>
				</a> <a href="#"> <span id="logo"></span> <!--<img id="logo" src="" alt="Logo"/>-->
				</a>
			</div>
			<div class="menu">
				<ul id="menu">
					<li id="menu-home"><a th:href="@{/movie/listar}"><i
							class="fa fa-tachometer"></i><span>Bancos</span><span
							class="fa fa-angle-right" style="float: right"></span></a>
						<ul>
							<li><a th:href="@{/bancos/listar}">Lista</a></li>
							<li><a th:href="@{/bancos/nuevo}">Nuevo</a></li>
						</ul></li>
					<li id="menu-home"><a th:href="@{/location/list}"><i
							class="fa fa-map-marker"></i><span>Empresas</span><span
							class="fa fa-angle-right" style="float: right"></span></a>
						<ul>
							<li><a th:href="@{/empresas/listar}">Lista</a></li>
							<li><a th:href="@{/empresas/nuevo}">Nuevo</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
		<!--slide bar menu end here-->
		<script>
		var toggle = true;

		$(".sidebar-icon").click(function () {
			if (toggle) {
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#menu span").css({ "position": "absolute" });
			}
			else {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				setTimeout(function () {
					$("#menu span").css({ "position": "relative" });
				}, 400);
			}
			toggle = !toggle;
		});
	</script>
		<!--scrolling js-->
		<script src="/static/shoppy/js/jquery.nicescroll.js"></script>
		<script src="/static/shoppy/js/scripts.js"></script>
		<!--//scrolling js-->
		<script src="/static/shoppy/js/bootstrap.js"> </script>
		<!-- mother grid end here-->
	</div>
</body>

</html>