<!doctype html>
<html lang="en">

<head>
<!--
    /   Multipurpose: Free Template by FreeHTML5.co
    /   Author: https://freehtml5.co
    /   Facebook: https://facebook.com/fh5co
    /   Twitter: https://twitter.com/fh5co
    -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Document title -->
<title>UPC Factoring</title>
<!-- Stylesheets & Fonts -->
<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
	rel="stylesheet">
<!-- Plugins Stylesheets -->
<link rel="stylesheet" href="static/assets/css/loader/loaders.css">
<link rel="stylesheet"
	href="static/assets/css/font-awesome/font-awesome.css">
<link rel="stylesheet" href="static/assets/css/bootstrap.css">
<link rel="stylesheet" href="static/assets/css/aos/aos.css">
<link rel="stylesheet" href="static/assets/css/swiper/swiper.css">
<link rel="stylesheet" href="static/assets/css/lightgallery.min.css">
<!-- Template Stylesheet -->
<link rel="stylesheet" href="static/assets/css/style.css">
<!-- Responsive Stylesheet -->
<link rel="stylesheet" href="static/assets/css/responsive.css">
</head>

<body>
	<!-- Loader Start-->
	<div class="css-loader">
		<div
			class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>
	</div>
	<!--Loader End -->
	<!-- Header Start -->
	<header class="position-absolute w-100">
		<div class="container">
			<div
				class="top-header d-none d-sm-flex justify-content-between align-items-center">
				<div class="contact">
					<a href="tel:+51999195557" class="tel"><i class="fa fa-phone"
						aria-hidden="true"></i>955750133</a> <a href="raulburga1999@gmail.com"><i
						class="fa fa-envelope" aria-hidden="true"></i>RaulBurga1999@gmail.com</a>
				</div>
				<nav class="d-flex aic">
					<a th:href="@{/login}" class=" login"><i class="fa fa-user"
						aria-hidden="true"></i>Login</a>
					<!--  <ul class="nav social d-none d-md-flex">
                        <li><a href="https://www.facebook.com/fh5co" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>-->
				</nav>
			</div>
			<nav class="navbar navbar-expand-md navbar-light">
				<a class="navbar-brand" th:href="@{/login}"><img
					src="static/assets/images/Cinemark-logo.png" alt="Multipurpose"
					width="30" height="30"></a>
				<div class="group d-flex align-items-center">
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="login-icon d-sm-none" href="#"><i class="fa fa-user"></i></a>
					<!--<a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>-->
				</div>
				<!--  <a class="search-icon d-none d-md-block" href="#"><i class="fa fa-search"></i></a>-->
				<div class="collapse navbar-collapse justify-content-end"
					id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Nosotros</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Contáctanos</a></li>
					</ul>
					<form class="bg-white search-form" method="get" id="searchform">
						<div class="input-group">
							<input class="field form-control" id="s" name="s" type="text"
								placeholder="Search"> <span class="input-group-btn">
								<input class="submit btn btn-primary" id="searchsubmit"
								name="submit" type="submit" value="Search">
							</span>
						</div>
					</form>
				</div>
			</nav>
		</div>
	</header>
	<!-- Header End -->
	<!-- Hero Start -->
	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="col-12 offset-md-1 col-md-11">
					<div class="swiper-container hero-slider">
						<div class="swiper-wrapper">

							<div class="swiper-slide slide-content d-flex align-items-center">
								<div class="single-slide">
									<h1 data-aos="fade-right" data-aos-delay="200">Regístrate
									</h1>
									<p data-aos="fade-right" data-aos-delay="600">
										Regístrate y sube los documentos necesarios para que <br>
										podamos verificar tu empresa. Es 100% online<br> y no
										tendrás que firmar ningún documento
									</p>
								</div>
							</div>

							<div class="swiper-slide slide-content d-flex align-items-center">
								<div class="single-slide">
									<h1 data-aos="fade-right" data-aos-delay="200">
										Sube tus<br> facturas
									</h1>
									<p data-aos="fade-right" data-aos-delay="600">
										Sube tus facturas y crea tu primera operación. Una vez la
										hayamos<br> verificado, empezará la subasta y los
										inversionistas empezarán <br> a competir para que tengas
										la mejor tasa y mayor beneficio.
									</p>
								</div>
							</div>

							<div class="swiper-slide slide-content d-flex align-items-center">
								<div class="single-slide">
									<h1 data-aos="fade-right" data-aos-delay="200">
										Cede tu <br> factura
									</h1>
									<p data-aos="fade-right" data-aos-delay="800">
										Una vez finalizada la operación, cede tu factura a UPC
										Factoring. <br> Aquí es cuando ocurre la operación de
										"Factoring".<br> Te explicaremos como hacer esto paso a
										paso, no te preocupes.
									</p>
								</div>
							</div>

							<div class="swiper-slide slide-content d-flex align-items-center">
								<div class="single-slide">
									<h1 data-aos="fade-right" data-aos-delay="200">
										¡Recibe tu <br> dinero!
									</h1>
									<p data-aos="fade-right" data-aos-delay="800">
										¡Recibe tu dinero! te transferimos el adelanto de tu factura
										para <br>que puedas seguir con tu empresa. Cuando la
										Banca nos pague<br> la factura, te transferiremos lo
										restante.
									</p>
								</div>
							</div>


						</div>

					</div>
				</div>
			</div>
			<!-- Add Control -->
			<span class="arr-left"><i class="fa fa-angle-left"></i></span> <span
				class="arr-right"><i class="fa fa-angle-right"></i></span>
		</div>
		<div class="texture"></div>
		<div class="diag-bg"></div>
	</section>
	<!-- Hero End -->
	<!-- Call To Action Start
    <section class="cta" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="cta-content d-xl-flex align-items-center justify-content-around text-center text-xl-left">
                <div class="content" data-aos="fade-right" data-aos-delay="200">
                    <h2>FOR BUILDING THE MODERN WEBSITE</h2>
                    <p>Packed with all the goodies you can get, Kallyas is our flagship premium template.</p>
                </div>
                <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="400" data-aos-offset="0">
                    <a href="#" class="btn btn-primary">Join Newsletter</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action End -->
	<!-- Services Start -->
	<section class="services">
		<div class="container">
			<div class="title text-center">
				<h6>Somos el aplicativo web mas confiable de Latinoamérica</h6>
				<h1 class="title-blue">¿Por qué escogernos?</h1>
			</div>	
		</div>
	</section>
	
	
	
	<!-- Pricing End -->
	<!-- Testimonial and Clients Start -->
	<section class="testimonial-and-clients">
		<div class="container">
			<div class="testimonials">
				<div class="swiper-container test-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide text-center">
							<div class="row">
								<div class="offset-lg-1 col-lg-10">
									<div class="test-img" data-aos="fade-up" data-aos-delay="0"
										data-aos-offset="0">
										<img src="static/assets/images/raul-user.jpg"
											alt="Testimonial 1">
									</div>
									<h5 data-aos="fade-up" data-aos-delay="200"
										data-aos-duration="600" data-aos-offset="0">Raul Burga</h5>
									<span data-aos="fade-up" data-aos-delay="400"
										data-aos-duration="600" data-aos-offset="0">Backend
										Developer </span>
									<p data-aos="fade-up" data-aos-delay="600"
										data-aos-duration="600" data-aos-offset="0">Desarrollador
										backend. Alumno de la carrera de Ingeniería de Sistemas de
										Información y especializado en base de datos y JavaEE.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide text-center">
							<div class="row">
								<div class="offset-lg-1 col-lg-10">
									<div class="test-img" data-aos="fade-up" data-aos-delay="0"
										data-aos-offset="0">
										<img src="static/assets/images/alvin-user.jpeg"
											alt="Testimonial 1">
									</div>
									<h5 data-aos="fade-up" data-aos-delay="200"
										data-aos-duration="600" data-aos-offset="0">Alvin Robles</h5>
									<span data-aos="fade-up" data-aos-delay="400"
										data-aos-duration="600" data-aos-offset="0">Backend
										Developer</span>
									<p data-aos="fade-up" data-aos-delay="600"
										data-aos-duration="600" data-aos-offset="0">Desarrollador
										backend. Alumno de la carrera de Ingeniería de Sistemas de
										Información. En sus tiempos libres le gusta ampliar sus
										conocimientos en Redes y Hacking Ético.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide text-center">
							<div class="row">
								<div class="offset-lg-1 col-lg-10">
									<div class="test-img" data-aos="fade-up" data-aos-delay="0"
										data-aos-offset="0">
										<img src="static/assets/images/italo-user.jpg"
											alt="Testimonial 1">
									</div>
									<h5 data-aos="fade-up" data-aos-delay="200"
										data-aos-duration="600" data-aos-offset="0">Italo Oré</h5>
									<span data-aos="fade-up" data-aos-delay="400"
										data-aos-duration="600" data-aos-offset="0">Frontend
										Developer</span>
									<p data-aos="fade-up" data-aos-delay="600"
										data-aos-duration="600" data-aos-offset="0">Desarrollador
										frontend. Alumno de la carrera de Ingeniería de Sistemas de
										Información. En sus tiempos libres le gusta informarse acerca
										de las nuevas tendencias en IoT.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide text-center">
							<div class="row">
								<div class="offset-lg-1 col-lg-10">
									<div class="test-img" data-aos="fade-up" data-aos-delay="0"
										data-aos-offset="0">
										<img src="static/assets/images/pierina-user.jpeg"
											alt="Testimonial 1">
									</div>
									<h5 data-aos="fade-up" data-aos-delay="200"
										data-aos-duration="600" data-aos-offset="0">Pierina
										Romero</h5>
									<span data-aos="fade-up" data-aos-delay="400"
										data-aos-duration="600" data-aos-offset="0">Backend
										Developer</span>
									<p data-aos="fade-up" data-aos-delay="600"
										data-aos-duration="600" data-aos-offset="0">Desarrolladora
										backend. Alumna de la carrera de Ingeniería de Sistemas de
										Información. En sus tiempos libres le gusta desarrollar
										aplicaciones móviles para Android y IOS.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide text-center">
							<div class="row">
								<div class="offset-lg-1 col-lg-10">
									<div class="test-img" data-aos="fade-up" data-aos-delay="0"
										data-aos-offset="0">
										<img src="static/assets/images/jan-user.jpg"
											alt="Testimonial 1">
									</div>
									<h5 data-aos="fade-up" data-aos-delay="200"
										data-aos-duration="600" data-aos-offset="0">Jan Saona</h5>
									<span data-aos="fade-up" data-aos-delay="400"
										data-aos-duration="600" data-aos-offset="0">Backend
										Developer</span>
									<p data-aos="fade-up" data-aos-delay="600"
										data-aos-duration="600" data-aos-offset="0">Desarrollador
										backend. Alumno de la carrera de Ingeniería de Sistemas de
										Información. En sus tiempos libres le gusta programar en
										NodeJS, Reactor y Python.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="test-pagination"></div>
				</div>
			</div>
			<div class="clients" data-aos="fade-up" data-aos-delay="200"
				data-aos-duration="600">
				<div class="swiper-container clients-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="static/assets/images/client1.png" alt="Client 1">
						</div>
						<div class="swiper-slide">
							<img src="static/assets/images/client2.png" alt="Client 2">
						</div>
						<div class="swiper-slide">
							<img src="static/assets/images/client3.png" alt="Client 3">
						</div>
						<div class="swiper-slide">
							<img src="static/assets/images/client4.png" alt="Client 4">
						</div>
						<div class="swiper-slide">
							<img src="static/assets/images/client5.png" alt="Client 5">
						</div>
					</div>
					<div class="test-pagination"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonial and Clients End -->
	
	<!-- Footer Start -->
	<footer>
		<!-- Widgets Start -->
		<div class="footer-widgets">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xl-3">
						<div class="single-widget contact-widget" data-aos="fade-up"
							data-aos-delay="0">
							<h6 class="widget-tiltle">&nbsp;</h6>
							<!--<p>By subscribing to our mailing list you will always be update with the latest news from
                                us.
                            </p>-->
							<div class="media">
								<i class="fa fa-map-marker"></i>
								<div class="media-body ml-3">
									<h6>Dirección</h6>
									Av. La Marina cuadra 25 con esquina Av. Parque de las Leyendas
								</div>
							</div>
							<div class="media">
								<i class="fa fa-envelope-o"></i>
								<div class="media-body ml-3">
									<h6>¿Aguna pregunta?</h6>
									<a href="mailto:support@steelthemes.com">paulollanosc@gmail.com</a>
								</div>
							</div>
							<div class="media">
								<i class="fa fa-phone"></i>
								<div class="media-body ml-3">
									<h6>Llamanos</h6>
									<a href="tel:+610791803458"> +51 (01) 4642696</a>
								</div>
							</div>
							<!--<div class="media">
                                <i class="fa fa-fax"></i>
                                <div class="media-body ml-3">
                                    <h6>Fax</h6>
                                    <a href="fax:911889047521432">(91) 188904752 1432</a>
                                </div>
                            </div>-->
						</div>
					</div>
					<div class="col-md-6 col-xl-3">
						<div class="single-widget twitter-widget" data-aos="fade-up"
							data-aos-delay="200">
							<h6 class="widget-tiltle">Tweets</h6>
							<div class="media">
								<i class="fa fa-twitter"></i>
								<div class="media-body ml-3">
									<h6>
										<a href="#">@Cinemark,</a> la mejor experiencia en películas
									</h6>
									<span>Hace 10 minutos</span>
								</div>
							</div>
							<div class="media">
								<i class="fa fa-twitter"></i>
								<div class="media-body ml-3">
									<h6>
										<a href="#">@Cinemark,</a> las mejores salas de cine y los
										combos ufff!
									</h6>
									<span>Hace 30 minutos</span>
								</div>
							</div>
							<div class="media">
								<i class="fa fa-twitter"></i>
								<div class="media-body ml-3">
									<h6>
										<a href="#">@Cinemark,</a> saliendo de una conferencia en una
										sala de Cinemark
									</h6>
									<span>Hace 13 minutos</span>
								</div>
							</div>
							<div class="media">
								<i class="fa fa-twitter"></i>
								<div class="media-body ml-3">
									<h6>
										<a href="#">@Cinemark,</a> hermosa película, Hachiko :'(
									</h6>
									<span>Hace 2 minutos</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xl-3">
						<div class="single-widget recent-post-widget" data-aos="fade-up"
							data-aos-delay="400">
							<h6 class="widget-tiltle">Blogs</h6>
							<div class="media">
								<a class="rcnt-img" href="#"><img
									src="static/assets/images/rcnt-post1.png" alt="Recent Post"></a>
								<div class="media-body ml-3">
									<h6>
										<a href="#">10 Comidas para comer en el cine</a>
									</h6>
									<p>
										<i class="fa fa-user"></i>Umer <i class="fa fa-eye"></i> 202
										Views
									</p>
								</div>
							</div>
							<div class="media">
								<a class="rcnt-img" href="#"><img
									src="static/assets/images/rcnt-post2.png" alt="Recent Post"></a>
								<div class="media-body ml-3">
									<h6>
										<a href="#">¿Qué es sonido envolvente 7.1?</a>
									</h6>
									<p>
										<i class="fa fa-user"></i>Paulo <i class="fa fa-eye"></i> 20
										Views
									</p>
								</div>
							</div>
							<div class="media">
								<a class="rcnt-img" href="#"><img
									src="static/assets/images/rcnt-post3.png" alt="Recent Post"></a>
								<div class="media-body ml-3">
									<h6>
										<a href="#">15 tips antes de ir al cine</a>
									</h6>
									<p>
										<i class="fa fa-user"></i>Jair <i class="fa fa-eye"></i> 74
										Views
									</p>
								</div>
							</div>
							<div class="media">
								<a class="rcnt-img" href="#"><img
									src="static/assets/images/rcnt-post4.png" alt="Recent Post"></a>
								<div class="media-body ml-3">
									<h6>
										<a href="#">¿Esta bien ver películas piratas?</a>
									</h6>
									<p>
										<i class="fa fa-user"></i>Marcelo <i class="fa fa-eye"></i> 48
										Views
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xl-3">
						<div class="single-widget tags-widget" data-aos="fade-up"
							data-aos-delay="800">
							<h6 class="widget-tiltle">Tags</h6>
							<a href="#">Avengers</a> <a href="#">Cinemark</a> <a href="#">Marketing</a>
							<a href="#">Películas</a> <a href="#">Blog</a> <a href="#">Precios</a>
						</div>
						<div class="single-widget subscribe-widget" data-aos="fade-up"
							data-aos-delay="800">
							<h6 class="widget-tiltle">Suscríbete</h6>
							<p>Regístrate y recibe ofertas por correo.</p>
							<form class="" method="get">
								<div class="input-group">
									<input class="field form-control" name="subscribe" type="email"
										placeholder="Email Address"> <span
										class="input-group-btn">
										<button type="submit" name="submit-mail">
											<i class="fa fa-check"></i>
										</button>
									</span>
								</div>
							</form>
							<p>Respetamos tu privacidad</p>
							<ul class="nav social-nav">
								<li><a href="https://www.facebook.com/fh5co"
									target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Widgets End -->
		<!-- Foot Note Start -->
		<div class="foot-note">
			<div class="container">
				<div
					class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center">
					<p class="mb-0" data-aos="fade-right" data-aos-offset="0">&copy;
						2019 All Rights Reserved.</p>
					<p class="mb-0" data-aos="fade-left" data-aos-offset="0">
						<a href="#">Términos de Uso</a><a href="#">Privacidad &
							Seguridad</a>
					</p>
				</div>
			</div>
		</div>
		<!-- Foot Note End -->
	</footer>
	<!-- Footer Endt -->
	<!--jQuery-->
	<script src="static/assets/js/jquery-3.3.1.js"></script>
	<!--Plugins-->
	<script src="static/assets/js/bootstrap.bundle.js"></script>
	<script src="static/assets/js/loaders.css.js"></script>
	<script src="static/assets/js/aos.js"></script>
	<script src="static/assets/js/swiper.min.js"></script>
	<script src="static/assets/js/lightgallery-all.min.js"></script>
	<!--Template Script-->
	<script src="static/assets/js/main.js"></script>
</body>

</html>